@import "../../styles/mixins";
@import "../../styles//variables";

.vinyls {
  width: 1440px;
  padding: 0 59px;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: transparent;

  &__title-block {
    height: 466px;
    padding: 36px 0;
    box-sizing: border-box;
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 812px;
    margin-bottom: 80px;
  }

  &__button {
    margin-right: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #747474;
    border-radius: 60px;
    background: transparent;
    @include inter;
    font-size: 14px;
    line-height: 17px;
    color: $text-color;
    padding: 10px 18px;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__button:hover {
    transition: all 0.2s;
    border: 1px solid #853034;
  }

  &__title {
    width: fit-content;
    @include title;
    margin-bottom: 23px;
  }

  &__models-number {
    @include models-number;
  }
}



.background__circle-arrow--page {
  left: 970px;
  rotate: 30deg;
}


.background__circle--page {
  right: -340px;
  top: 474px;
}