@import "../../styles/mixins";
@import "../../styles//variables";

.product-info {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 60px;

  &__color {
    @include mont-regular;
    font-size: 17px;
    line-height: 21px;
    color: #747474;
  }

  &__performer {
    @include title;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 12px;
  }

  &__title-album {
    @include mont-regular;
    font-size: 24px;
    line-height: 29px;
    color: $text-color;
    margin-bottom: 70px;
  }

  &__parameters {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    // align-items: center;
    padding-left: 40px;
    text-align: left;
  }

  &__id-product {
    margin-left: auto;
    @include mont-semi-bold;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #b4bdc4;
  }

  /*#region Images section */
  &__wrapper-image {
    display: flex;
    justify-content: center;
    width: 533px;
    height: 476px;
    border-radius: 24px;
    overflow: hidden;
  }

  &__wrapper-image > img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  /*#endregion Images section */

  /*#region Shop*/

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: max-content;
    margin-bottom: 16px;
  }

  &__actual-price {
    @include mont-bold;
    height: min-content;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $text-color;
    margin-bottom: 24px;
  }

  /*#endregion */

  &__buy-vinyl {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 53px;
    background: #fff;
    border-radius: 4px;

    @include mont-regular;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #282525;
    transition: all 0.3s;
  }

  &__buy-vinyl:after {
    position: absolute;
    top: 12px;
    left: 12px;
    content: '';
    width: 141px;
    height: 53px;
    border: 3px solid #fff;
    border-radius: 4px;
    transition: all 0.3s;
    box-sizing: border-box;
  }

  &__buy-vinyl:hover {
    background: #853034;
    color: #fff;
    transition: all 0.3s;
  }

  &__buy-vinyl:hover::after {
    border: 3px solid #853034;
    color: #fff;
  }

  &__buy-vinyl:active {
    background: #672427;
  }

  &__buy-vinyl:active::after {
    border: 3px solid #672427;
  }
}
