/* @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'); */

html {
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
