@import "../../styles/mixins";
@import "../../styles//variables";

.product-details {
  width: 100%;
  padding: 0 59px;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: transparent;
  box-sizing: border-box;

  &__wrapper-info {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include mont-regular;
    font-size: 12px;
    line-height: 15px;
    color: $text-color-light;
  }

  &__back-button:hover {
    color: $text-color;
  }

  &__button {
    position: relative;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  &__button::before {
    position: absolute;
    content: "";
    bottom: 50%;
    right: 50%;
    height: 6px;
    width: 10px;
    margin: auto;
    transform: rotate(-90deg);
    translate: 50% 50%;
    transform-origin: 50% 50%;
    background-image: url("../../components/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
